USE [master]
GO
/****** Object:  Database [ciceksepetiDB]    Script Date: 7.07.2026 18:05:40 ******/
CREATE DATABASE [ciceksepetiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ciceksepetiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ciceksepetiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ciceksepetiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ciceksepetiDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ciceksepetiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ciceksepetiDB]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 7.07.2026 18:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[urunadi] [nvarchar](200) NOT NULL,
	[urunfiyati] [nvarchar](100) NOT NULL,
	[urundetayi] [nvarchar](max) NOT NULL,
	[stokdurumu] [nvarchar](50) NOT NULL,
	[resim] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
